<div class="container">
  <div class="oferta" *ngIf="oferta !== undefined">

    <div class="row">
      <div class="col">
        <h4>{{oferta.descricao_oferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <div class="thumbnails">
          <img *ngFor="let imagem of oferta.imagens" [src]="imagem.url" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{oferta.valor | currency: 'BRL': 'symbol'}}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg" (click)="adicionarItemCarrinho()" routerLink="/ordem-compra">
              Adicionar ao carrinho
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="row" style="margin-top: 25px; margin-bottom: 150px;">
    <div class="col">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" routerLink="como-usar" data-bs-toggle="tab"
            data-bs-target="#como-usar" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Como
            usar</button>
          <button class="nav-link" id="nav-profile-tab" routerLink="onde-fica" data-bs-toggle="tab"
            data-bs-target="#onde-fica" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Onde
            fica?</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>